<% content_for :js do %>
  <%= javascript_tag do %>
    navigator.geolocation.getCurrentPosition(
      function(position){
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        $.getScript("<%= feed_path("Here")%>" + "?latitude=" + lat + "&longitude=" + lng,function(){});
      },
      function(err){
       console.warn('ERROR(' + err.code + '): ' + err.message); 
      }
    );
  <% end %>
<% end if @type == "Here" %>

  <div class="row">
<% if !logged_in? %>
    <div class="center jumbotron">
      <h1>Welcome to the SOBAMESHI</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% else %>
    <aside class="col-md-12">
      <section class="user_info">
        <%= render partial:'shared/user_info', locals: {user: current_user} %>
      </section>
    </aside>
<% end %>
  </div>
  <div>
    <div class="col-md-12">
      <h3>Post Feed</h3>
      <div id="feed_items">
      <%= render 'shared/feed', feed_items: @feed_items  %>
      </div>
    </div>
  </div>