<%= link_to gravatar_for(user, size: 100), user %>
<h1><%= user.name %></h1>
<% if request.path_info == root_path %> 
<span><%= link_to "view my profile", user %></span>
<% end %>
<span><%= link_to pluralize(user.following_users.count, "following"), followings_user_path(user) %></span>
<span><%= link_to pluralize(user.follower_users.count, "follower"), followers_user_path(user) %></span>
<span><%= link_to pluralize(user.favorites.count, "favorite"), favorites_user_path(user) %></span>