<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= yield :title %></title>
    <% else %>
      <title>SobaMeshi</title>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row navbuttons">
        <div class="col-md-12">
          <div class="btn-group btn-group-justified" role="group">
            <a href="<%=feed_path("Here")%>" class="btn btn-default <%= "active" if @type == "Here" %>" role="button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><br>Here</a>
            <a href="<%=feed_path("Friends")%>" class="btn btn-default <%= "active" if @type == "Friends" %>" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br>Friends</a>
            <a href="<%=feed_path("All")%>" class="btn btn-default <%= "active" if @type == "All" %>" role="button"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><br>All</a>
            <a href="<%=new_post_url%>" class="btn btn-default <%= "active" if @type == "New" %>" role="button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span><br>Post</a>
          </div>
        </div>
      </div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>